<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tapestry-angular2 Application Test Suite" annotations="1.5">
   <test name="Angular2 Integration Tests"  enabled="true">
    
        <parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
        <parameter name="tapestry.browser-start-command" value="${browserStartCommand}" />
		
		<packages>
    		<package name="org.got5.tapestry5.angular2">
    			<exclude name="org.got5.tapestry5.angular2.unit"></exclude>
    		</package>
    	</packages>
        
    </test>
  
</suite>
